
body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
}

    /* Flexbox container for the content */
    .content {
      display: flex;
      align-items: center;
      justify-content: space-between; /* Create space between written content and image */
    }

    /* Style for the written stuff on the left */
    #intro {
      flex: 2; /* Allow the content to grow and take available space */
      padding: 20px;
      color: rgb(252, 252, 252);
      font-size: 35px;
      
      text-shadow: 
      -2px -2px 0 #000, /* Top left */
      2px -2px 0 #000, /* Top right */
      -2px  2px 0 #000, /* Bottom left */
      2px  2px 0 #000; /* Bottom right */ 

    }


    

    #card{
      float: left;
      height: auto;
      width: 70%;

      border: 2px solid #c73838; /* Border style */
      padding: 0.1%; /* Adding some padding to separate border from image */
      
      transition: all 0.1s ease; /* Smooth transition */
    }

    #card:hover {
      transform: scale(104%); /* Scale on hover */
    }
    
   


header {
    background: #ee0404;
    height: 10%;
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
}


