
body {
     font-family: Georgia, 'Times New Roman', Times, serif;
     margin: 0;
     padding: 0;
}

    /* Flexbox container for the content */
    .content {
      display: flex;
      margin-bottom: 30%;
      align-items: center;
      justify-content: space-between; /* Create space between written content and image */
      padding: 0.5%;
    }


footer {
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.527); /* Background color for demonstration */
  color: white; 
}


footer a {
  padding: 20px;
  font-size: 150%;
  
  text-decoration: underline;

  color: rgb(12, 20, 136);
  font-weight: bold;
  transition: all 0.5s ease; /* Smooth transition */

  
  margin: 0% 2.5%; /* Adjust spacing between links */
}

footer a:hover {
    transform: scale(115%); /* Scale on hover */
}



    

    h2{
       /* Allow the content to grow and take available space */
      letter-spacing: 10%;
      color: rgba(8, 196, 48, 0.61);
      font-size: 250%;
      
      text-shadow: 
      3px  3px 0 #000; /* Bottom right */ 

    }

  

    #intro {

        
      width: 100%;
      height: auto;  
      align-items: left;
      gap: 20px;

      display: flex;
      flex-direction: column;
      padding-right: 5%;
      padding-left: 2.5%;
      font-size: 110%;
      text-shadow: 4px  4px 0 #000; /* Bottom right */ 

    }


    

    #card{
      float: left;
      height: auto;
      width: 50%;

      border: 2px solid #c73838; /* Border style */
      padding: 0.2%; /* Adding some padding to separate border from image */
      
      transition: all 0.1s ease; /* Smooth transition */
    }

    #card:hover {
      transform: scale(104%); /* Scale on hover */
    }

 

    header {
      
      font-size: large;
      position: relative;
      height: 10%;
      width: 100%;
      color: rgb(179, 124, 7); /* Adjust text color and opacity */
      text-align: center;
      background: rgba(255, 255, 255, 0); /* Adjust background color and opacity */
      backdrop-filter: blur(20px); /* Blurring effect */
      z-index: 1;


      
     
    }

    header h1{
       text-shadow: 
       2px  2px 0 #000; /* Bottom right */ 
    }

    header p{
      font-size: large;
      color: #000;
      text-shadow: 
      2px  2px 0 rgb(179, 124, 7); /* Bottom right */ 
   }




   @media (max-width: 550px){
      #intro {

        
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        padding-right: 5%;
        color: rgb(252, 252, 252);
        font-size: 110%;
        text-shadow: 
        4px  4px 0 #000; /* Bottom right */ 

      }

      header{
        width: 100%;
        height: auto;
      }


      footer{
        position: relative;
        bottom: 0;
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(143, 36, 36, 0.8); /* Background color for demonstration */
        color: white;
      }
      
      footer a{
        margin: 10px;
        text-decoration: underline;
        color: white;
        font-weight: bold;
      }
   }


